button {
    width: 150px;
    height: 30px;
    font-size: 20px;
    font-weight: 100;
    color: #fff;
    background-color: blue;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}
input {
    width: 150px;
    height: 30px;
    color: #333;
    border-radius: 5px;
    text-align: left;
}
label {
    font-size: 20px;
    font-weight: 100;
    color: #333;
}
h1 {
    color: rgb(188, 187, 255);
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}